.form-input {
  @apply relative;

  input, select {
    @apply w-full appearance-none outline-0 text-white transition-all duration-300 ease-in-out border-2 border-zinc-800 bg-zinc-800 focus:bg-transparent focus:border-zinc-800 px-1.5 py-2 text-lg rounded-lg hover:border-blue-500;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

  input::placeholder {
    opacity: 0.6;
  }
  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  input:focus::-moz-placeholder {
    opacity: 0;
  }
  input:focus:-ms-input-placeholder {
    opacity: 0;
  }
  input:focus:-moz-placeholder {
    opacity: 0;
  }
}