.form-input-group {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 10px;
  &.form-lg {
    padding: 6px 10px;
  }
  &:focus-within {
    border-color: rgba(3, 124, 254, 0.307) !important;
  }
  &.is-invalid {
    border-color: #dc3545 !important;
  }
  &.is-valid {
    border-color: #28a745 !important;
  }

  input,
  textarea {
    border: none;
    background: transparent;
    width: 100%;
    color: #74829c !important;

    &:focus {
      outline: 0;
      background: transparent;
      border: none !important;
      box-shadow: none !important;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

  input::placeholder {
    opacity: 0.6;
  }
  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  input:focus::-moz-placeholder {
    opacity: 0;
  }
  input:focus:-ms-input-placeholder {
    opacity: 0;
  }
  input:focus:-moz-placeholder {
    opacity: 0;
  }

  // datepicker
  .mx-datepicker {
    width: 100%;

    .mx-input {
      border: none !important;
      box-shadow: none !important;

      &:hover {
        border-color: transparent !important;
      }
    }
  }

  // vue-multiselect
  .multiselect {
    .multiselect__tags {
      border-color: transparent !important;

      .multiselect__single {
        padding: 0;
        background: transparent !important;
      }
    }
  }

  
  .icon-front {
    cursor: default;
    display: flex;
    gap: 3px;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    padding-right: 6px;
  }

  .icon-back {
    cursor: default;
    display: flex;
    gap: 3px;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    padding-left: 6px;

    .eye-password {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}